.item {
  border: #242629 solid 1px;
  height: 300px;
  text-align: center;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.background {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 20px;
}

.title {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
}

.info {
  text-align: left;
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 0;
}

.infoList {
  padding: 0 0 0 10px;
}
