* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  color: #242629;
}

:global #root {
  height: 100%;
}

a[href] {
  color: #5f66f7;
  text-decoration-style: dotted;
}

a[href].active {
  color: #000;
  text-decoration: none;
}

