.wrapper {
  background: #f9fbff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.footer {
  height: 40px;
  background: rgb(186, 191, 203);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
}

.footerText {
  margin: auto;
}
