.formGroup {
  margin-bottom: 15px;
  margin-right: 10px;
}

.label {
  display: inline-block;
  margin-bottom: .5rem;
}

.error {
  color: #ff0909;
  font-size: 12px;
}

.formControl {
  display: block;
  /*width: 100%;*/
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
