.formContainer {
  margin: auto;
  width: auto;
  border: solid #f7f7f9;
  padding: 1.5rem;
}

.form {
  margin: 10px 0;
}

.authors {
  margin: 10px 0;
}

.subFieldsContainer {
  margin: 10px;
  padding: 10px;
  background-color: #efefef;
  clear: both;
}

.subFields {
  display: flex;
  padding: 15px;
}

.error {
  color: #ff0909;
  font-size: 12px;
  display: block;
}

.btn {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
}

.btn:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}
