.sortBlockItem {
  position: relative;
  padding: 10px;
  display: flex;
}

.orderBy {
  position: relative;
  display: block;
  padding: 5px;
}

.orderBy:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-bottom: 1px solid #4b545b;
  border-right: 1px solid #4b545b;
  transform: rotate(45deg);
}

.orderBy.desc:before {
  transform: rotate(-135deg);
}

.sortBlockLink {
  display: block;
  position: relative;
}

.sortBlockLink.active {
  color: #000;
  text-decoration: none;
  margin: auto;
}
