.container {
  margin: 20px;
}

.navBar {
  padding: 10px 5px;
  background-color: #f7f7f7;
  flex-direction: row;
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
}

.menuItems {
  display: flex;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  padding-right: 10px;
  padding-left: 10px;
}
